
.headertop {
   height: 80px;
       background-color: darkmagenta;
       font-family: 'Gamja Flower', cursive;
    text-align: center;
    font-size: 170%;
    
}

.headerbottom {
    height: 20px;
    background-color: greenyellow;
}

.columnleft {
    height: 500px;
    float: left;
    width: 20%;
    background-color: cornflowerblue;
}

.columncenter {
    height: 500px;
    float: left;
    width: 60%;
    background-color: orangered;
    font-family: 'Oswald', sans-serif;
}

.columnright {
    height: 500px;
    float: left;
    width: 20%;
    background-color: darkblue;
}

.foooter {
    clear: left;
    height: 40px;
    background-color: aqua;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(diagonal-squares.png)
}
